<table class="heading">
  <tr>
    <td><img border="0" alt="Relay for Life" src="http://main.acsevents.org/images/RFLFY10images/Logo.gif"/></td>
    <td><h1>Matt Blom's Relays</h1></td>
  </tr>
</table>

<table class="statusTable">
  <thead>
    <tr>
      <th class="text">Relay</th>
      <% @valueKeys.each do |key| %>
        <th class="number"><%= @valueLabels[key] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @relayStats.each do |relayStat| %>
        <tr>
          <td class="text"><a href="<%= relayStat[:url] %>"><%= relayStat[:name] %></a></td>
          <% @valueKeys.each do |key| %>
            <td class="number">
              <%= render :partial => 'statusvalue', :object => relayStat[key] %>
            </td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th class="text"></th>
      <% @valueKeys.each do |key| %>
        <th class="number">
          <%= render :partial => 'statusvalue', :object =>  @totals[key] %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>

